{% extends 'RencontresBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} | Inscription réussie
{% endblock %}


{% block content %}

    <h2>Inscription réussie</h2>
    <br>
    <a class='btn btn-default' href=" {{ path('login') }}">Connexion</a>

{% endblock %}


{% block js %}
    <script type="text/javascript" src="{{ asset('js/app.js') }}"> </script>
{% endblock %}
