{% extends 'RencontresBundle::base.html.twig' %}

{% block content %}

    <div class="compte">
        <table>
            <tr>
                <td><a href="">Mon Compte</a></td>
                <td><a href="">Mes Critères</a></td>
                <td><a href="{{ path('user_profile', {'id':app.user.id}) }}">Ma Description</a></td>
            </tr>
            <tr>
                <td><a href="">Mes Passions</a></td>
                <td><a href="">Paramètres</a></td>
                <td><a href="">Messagerie</a></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block title %}Connexion | {{ parent() }}{% endblock %}
